.container{
    display: flex;
    align-items: center;
    height: 100vh;
}

.container table{
    max-width: 100%;
    padding: 15px;
}

.btn {
    margin: 0px 12px 0px 0px;
}

.btn-email {
    color: white;
    background-color: black;
}

.btn-email:hover {
    color: white;
    background-color: rgb(83, 83, 83);
}