<div class="container">
    <table>
        <tr>
            <td>
                <h1 style="font-size: 40px; font-style: oblique;">about me</h1>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size: 20px;">Hi, I’m <b>Tendai Bandawa</b>, a product designer<br> 
                    and Android Developer driven by passion and curiosity.<br>
                    I believe in lifelong learning, a good feedback culture,<br>
                    and an open mind.<br><br>
                    When not doing my day job you willl find me learning about IoT,<br>
                    Electronics, Embeded Systems while searching for something<br>
                    new and groundbreaking to build.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <hr class="line">
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size: 20px;">I'm currently working as a global freelancer, based in south africa</p>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-primary btn-email rounded-pill btn-sm border-0" href="mailto:tendai@tbandawa.me" role="button">E-mail me!</a>
                <a class="btn btn-secondary btn-work rounded-pill btn-sm border-0" href="/portfolio" role="button">My work</a>
            </td>
        </tr>
    </table>
</div>