<div class="container-fluid fill">

    <nav class="navbar navbar-transparent px-4 py-3">
        <a class="btn btn-back rounded-pill btn-sm border-0" routerLink="/portfolio" role="button">back to portfolio</a>
    </nav>

    <div class="box">

        <div class="row pt-5">
            <img src="/assets/cityone/logo.png" alt="City One" style="height: 75px; width: 75px;">
            <h1>City One</h1>
        </div>

        <div class="row">
            <div class="col-md feature pt-3">
                <img src="/assets/cityone/feature.png" class="rounded img-fluid" alt="City One">
            </div>
            <div class="col-md pt-3">
                <table>
                    <tr>
                        <td>
                            <p>
                                As African cities are growing together with its people, City One was for<br>
                                the future movement of people and goods.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2>In this project my roles where, </h2>
                            <ul class="roles">
                                <li>Translate designs and wireframes into high quality code</li>
                                <li>Design, build, and maintain high performance, reusable, and reliable kotlin code</li>
                                <li>Troubleshoots bugs and documents errors</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="type">
                                Driver App<br>
                                <a href="https://play.google.com/store/apps/details?id=app.cityone.drive" target="_blank">
                                    <img src="/assets/tools/play.png" alt="City One(Driver)" class="play">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                        <td>
                            <div class="type">
                                Passenger App<br>
                                <a href="https://play.google.com/store/apps/details?id=app.cityone.ride" target="_blank">
                                    <img src="/assets/tools/play.png" alt="City One(Passenger)" class="play">
                                </a>
                        </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="row footer mt-5">© 2021 Tendai Bandawa. All rights reserved.</div>

</div>