<div class="container-fluid fill">

    <div class="box">
        <table>
            <tr>
                <td>
                    <h1 style="font-size: 40px; font-style: oblique;">tendai@tbandawa.me</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <h1 style="font-size: 40px; font-style: oblique;">+27-84-564-1904</h1>
                </td>
            </tr>
        </table>
    </div>

    <table class="social">
        <tr>
            <td>Github</td>
        </tr>
        <tr>
            <td>Linkedin</td>
        </tr>
        <tr>
            <td>Twitter</td>
        </tr>
        <tr>
            <td>Instagram</td>
        </tr>
    </table>

</div>