<div class="wrapper vcenter-item">
    <div class="box">
        <table>
            <tr>
                <td>
                    <h1 style="font-size: 40px; font-style: oblique;">tendai@tbandawa.me</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <h1 style="font-size: 40px; font-style: oblique;">+27-84-564-1904</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <hr class="line">
                </td>
            </tr>
        </table>
    </div>
</div>