.vcenter-item{
    display: flex;
}

.wrapper{
    min-height: 100%;
}

.box{
    padding: 25px;
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
}

hr.line {
    height: 1px;
}