<div class="container-fluid fill">

    <nav class="navbar navbar-transparent pt-3">
        <a class="btn btn-back rounded-pill btn-sm border-0" routerLink="/about" role="button">about</a>
    </nav>

    <div class="box">

        <h1>portfolio</h1>
        <p>
            here is a selection of personal projects and work i have been involved in<br>
        </p>

        <div class="row">

            <div class="d-flex justify-content-between project align-self-center px-3 mb-3" (click)='openProject("onebox")'>
                <div class="title" >
                    <h2 class="font-weight-bold mb-0">One Box</h2>
                </div>
                <div class="period">
                    <table>
                        <tr>
                            <th class="time">Year</th>
                        </tr>
                        <tr>
                            <td class="time">2021</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="d-flex justify-content-between project align-self-center px-3 mb-3" (click)='openProject("skyz")'>
                <div class="title" >
                    <h2 class="font-weight-bold mb-0">Skyz Metro FM</h2>
                </div>
                <div class="period">
                    <table>
                        <tr>
                            <th class="time">Year</th>
                        </tr>
                        <tr>
                            <td class="time">2021</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="d-flex justify-content-between project align-self-center px-3 mb-3" (click)='openProject("openradio")'>
                <div class="title" >
                    <h2 class="font-weight-bold mb-0">open Radio</h2>
                </div>
                <div class="period">
                    <table>
                        <tr>
                            <th class="time">Year</th>
                        </tr>
                        <tr>
                            <td class="time">2020</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="d-flex justify-content-between project align-self-center px-3 mb-3" (click)='openProject("cityone")'>
                <div class="title" >
                    <h2 class="font-weight-bold mb-0">City One</h2>
                </div>
                <div class="period">
                    <table>
                        <tr>
                            <th class="time">Year</th>
                        </tr>
                        <tr>
                            <td class="time">2019</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="d-flex justify-content-between project align-self-center px-3 mb-3" (click)='openProject("snappy")'>
                <div class="title" >
                    <h2 class="font-weight-bold mb-0">Snappy TopUp</h2>
                </div>
                <div class="period">
                    <table>
                        <tr>
                            <th class="time">Year</th>
                        </tr>
                        <tr>
                            <td class="time">2019</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="d-flex justify-content-between project align-self-center px-3 mb-3" (click)='openProject("taxi")'>
                <div class="title" >
                    <h2 class="font-weight-bold mb-0">Taxi Fare Helper</h2>
                </div>
                <div class="period">
                    <table>
                        <tr>
                            <th class="time">Year</th>
                        </tr>
                        <tr>
                            <td class="time">2018</td>
                        </tr>
                    </table>
                </div>
            </div>
             
        </div>

    </div>

    <div class="row footer">© 2021 Tendai Bandawa. All rights reserved.</div>

</div>