<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tee" >
  <title>Tendai Bandawa</title>
</head>

<body>

    <div class="sidenav">
        <div class="sidenav-logo">
            <img src="assets/logo.png" class="logo"  alt="Tendai Bandawa">
        </div>
        <ul class="sidenav-ul">
            <li>
                <a class="sidenav-nav-link" href="/about">
                    about
                </a>
            </li>
            <li>
                <a class="sidenav-nav-link" href="/portfolio">
                    portfolio
                </a>
            </li>
            <li>
                <a class="sidenav-nav-link" href="/resume">
                    resume
                </a>
            </li>
            <li>
                <a class="sidenav-nav-link" href="/contact">
                    contact
                </a>
            </li>
        </ul>
        <div class="sidenav-footer">
            <p>© 2021 Tendai Bandawa. All rights reserved.</p>
        </div>
    </div>
      
    <div class="main">
        <router-outlet></router-outlet>
    </div>

</body>
</html>