<div class="container-fluid fill">

    <nav class="navbar navbar-transparent px-4 py-3">
        <a class="btn btn-back rounded-pill btn-sm border-0" routerLink="/portfolio" role="button">back to portfolio</a>
    </nav>

    <div class="box">

        <div class="row pt-5">
            <img src="/assets/onebox/logo.png" alt="OneBox" style="height: 75px; width: 75px;">
            <h1>OneBox</h1>
        </div>

        <div class="row">
            <div class="col-md feature pt-3">
                <img src="/assets/onebox/feature.gif" class="rounded img-fluid" alt="OneBox">
            </div>
            <div class="col-md pt-3">
                <table>
                    <tr>
                        <td>
                            <p>
                                One Box is the best app to shop for groceries and have them sent to<br>
                                you or your loved ones in Zimbabwe. Flexible Payments. Dead easy<br>
                                shopping. Choose a recipient. Zero Hustles. How One Box works<br>
                                Pick & Add to cart<br>
                                Pay anyhow from Anywhere<br>
                                Place Order. Receive in Zim<br>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2>Roles</h2>
                            <ul class="roles">
                                <li>Taking lead of Android development</li>
                                <li>Setup and built the app from the ground up using an MVVM architecture</li>
                                <li>Designing the Experience and Interface of the app</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://play.google.com/store/apps/details?id=app.onebox.customer" target="_blank">
                                <img src="/assets/tools/play.png" alt="OneBox" class="play">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="row footer mt-5">© 2021 Tendai Bandawa. All rights reserved.</div>

</div>