<div class="container-fluid fill">

    <nav class="navbar navbar-transparent px-4 py-3">
        <a class="btn btn-back rounded-pill btn-sm border-0" routerLink="/portfolio" role="button">back to portfolio</a>
    </nav>

    <div class="box">

        <div class="row pt-5">
            <img src="/assets/openradio/logo.png" alt="open Radio" style="height: 75px; width: 75px;">
            <h1>open Radio</h1>
        </div>

        <div class="row">
            <div class="col-md feature pt-3">
                <img src="/assets/openradio/feature.png" class="rounded img-fluid" alt="open Radio">
            </div>
            <div class="col-md pt-3">
                <table>
                    <tr>
                        <td>
                            <p>
                                The idea behind <b>open Radio</b> was to have one application to handle<br>
                                my favourite stations instead of having numerous audio streaming<br>
                                applications installed on my phone. I gave myself a task to design<br>
                                and develop open Radio whilst discovering cool features <b><a href="https://exoplayer.dev/" target="_blank">ExoPlayer</a></b><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;- station management<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;- online streaming capabilities<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;- media tag info<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;- informative notification<br>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Through research and studying other audio streaming<br>
                                applications, i used my findings as a framework to establish<br>
                                what became the visuals of <b>open Radio</b>.
                            </p>
                            <p>
                                The app’s chosen core architectures were MVVM and Hexagonal.<br>
                                This approach provides a decoupled pattern that allowed me to<br>
                                focus on different elements of the app <b><a href="https://developer.android.com/studio/projects#ApplicationModules" target="_blank">(modules)</a></b> while other aspects where<br>
                                being finalised i.e. the <b><a href="https://www.last.fm/api" target="_blank">lastfm API</a></b>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2>Roles</h2>
                            <ul class="roles">
                                <li>UI/UX</li>
                                <li>Design</li>
                                <li>Development</li>
                                <li>Testing</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://play.google.com/store/apps/details?id=me.tbandawa.android.openradio" target="_blank">
                                <img src="/assets/tools/play.png" alt="open Radio" class="play">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="row footer mt-5">© 2021 Tendai Bandawa. All rights reserved.</div>

</div>