<div class="container-fluid fill">

    <nav class="navbar navbar-transparent px-4 py-3">
        <a class="btn btn-back rounded-pill btn-sm border-0" routerLink="/portfolio" role="button">back to portfolio</a>
    </nav>

    <div class="box">

        <div class="row pt-5">
            <img src="/assets/taxi/logo.png" alt="Taxi Fare Helper" style="height: 75px; width: 75px;">
            <h1>Taxi Fare Helper</h1>
        </div>

        <div class="row">
            <div class="col-md feature pt-3">
                <img src="/assets/taxi/feature.png" class="rounded img-fluid" alt="Taxi Fare Helper">
            </div>
            <div class="col-md pt-3">
                <table>
                    <tr>
                        <td>
                            <p>
                                A small tool to calculate taxi fares as the occupants pay.<br>
                                It is aimed at eliminating confusion and producing<br>
                                clear and precise results
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://play.google.com/store/apps/details?id=me.tbandawa.android.taxifarehelper" target="_blank">
                                <img src="/assets/tools/play.png" alt="University Of Life" class="play">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="row footer mt-5">© 2021 Tendai Bandawa. All rights reserved.</div>

</div>