<div class="container-fluid fill">

    <h2>Resume</h2>

        <div class="row">

            <div class="column">
                <h2>Education</h2>
                <table>
                    <tr>
                        <td>2010-2014</td>
                    </tr>
                    <tr>
                        <td>Midlands State University</td>
                    </tr>
                    <tr>
                        <td>BSC Computer Science</td>
                    </tr>
                </table>
                <h2>Experience</h2>
                <table>
                    <tr>
                        <td>2013</td>
                    </tr>
                    <tr>
                        <td>Bulawayo Polytechnic College | Intern</td>
                    </tr>
                    <tr>
                        <td>BSC Computer Science</td>
                    </tr>
                    <tr >
                        <td></td>
                    </tr>
                    <tr>
                        <td>2014 - 2017</td>
                    </tr>
                    <tr>
                        <td>LinkOptions</td>
                    </tr>
                    <tr>
                        <td>Full Stack Developer</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td >2018 - 2020</td>
                    </tr>
                    <tr>
                        <td>Redivision</td>
                    </tr>
                    <tr>
                        <td>Lead Android Developer</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2020-</td>
                    </tr>
                    <tr>
                        <td>Future Lane Co-operation</td>
                    </tr>
                    <tr>
                        <td>Freelance Android Engineer</td>
                    </tr>
                </table>
            </div>
        
            <div class="column">
                <h2>Tools</h2>
                <table>
                    <tr>
                        <td>Git</td>
                    </tr>
                    <tr>
                        <td>Eclipse</td>
                    </tr>
                    <tr>
                        <td>Netbeans</td>
                    </tr>
                    <tr>
                        <td>VS Code</td>
                    </tr>
                    <tr>
                        <td>Linux</td>
                    </tr>
                    <tr>
                        <td>Slack</td>
                    </tr>
                    <tr>
                        <td>Zenhub</td>
                    </tr>
                    <tr>
                        <td>Sketch</td>
                    </tr>
                    <tr>
                        <td>Zaplin</td>
                    </tr>
                    <tr>
                        <td>Pencil</td>
                    </tr>
                </table>
            </div>
        
            <div class="column">
                <h2>Technologies</h2>
                <table>
                    <tr>
                        <td>Android</td>
                    </tr>
                    <tr>
                        <td>JAVA</td>
                    </tr>
                    <tr>
                        <td>Kotlin</td>
                    </tr>
                    <tr>
                        <td>Spring</td>
                    </tr>
                    <tr>
                        <td>Typescript</td>
                    </tr>
                    <tr>
                        <td>Angular</td>
                    </tr>
                    <tr>
                        <td>Bootstrap</td>
                    </tr>
                    <tr>
                        <td>PHP</td>
                    </tr>
                    <tr>
                        <td>MySQL</td>
                    </tr>
                </table>
            </div>
        
        </div>  

</div>