/* 
    Created on : Feb 7, 2021, 11:00:23 PM
    Author     : tee
*/
.sidenav {
    height: 100%;
    width: 250px;
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
}

.sidenav-logo {
    position: relative;
    height: 6em;
}

.sidenav-logo .logo {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 6em;
    width: 100%;
}

.sidenav-ul {
    margin: 0; 
    width: 250px;
    position: absolute;
    top: 40%;
    left: -30px;
    list-style: none;
}

.sidenav-nav-link {
    color: #cccccc;
    font: bold;
    top: 2em;
    font-size: 21px;
}

.sidenav ul li {
    color: #cccccc;
    font: bold;
    height: 2em;
    font-size: 21px;
}


.sidenav-nav-link:hover {
    text-decoration: none;
    color: black;
}

.sidenav-nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
}

.sidenav-nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.sidenav-footer {
    position: absolute;
    font-size:smaller;
    color: #2c2c2c;
    height: 4em;
    left: 0 ; 
    right: 0; 
    bottom: 0;
}
  
  .main {
    margin-left: 250px;
    padding: 0px 0px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }