<div class="container-fluid fill">

    <div class="box">

        <table>
            <tr>
                <td>
                    <h1>Tendai Bandawa</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        I’m  a product designer and Android Developer driven by passion and curiosity.<br>
                        A collaborative and multidisciplined individual willing to learn, evolve<br>
                        and build something new and groundbreaking.
                    </p>
                    <hr class="line">
                    <p>
                        I'm currently working as a global freelancer, based in South Africa
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-about rounded-pill btn-sm border-0" routerLink="/contact" role="button">get in touch</a>
                    <a class="btn btn-about rounded-pill btn-sm border-0" routerLink="/portfolio" role="button">portfolio</a>
                </td>
            </tr>
        </table>

    </div>

    <div class="footer">© 2021 Tendai Bandawa. All rights reserved.</div>

</div>