<div class="container-fluid fill">

    <nav class="navbar navbar-transparent pt-3">
        <a class="btn btn-back rounded-pill btn-sm border-0" routerLink="/about" role="button">go back</a>
    </nav>

    <div class="box">

        <table>
            <tr>
                <td>
                    <h1>tendai@tbandawa.me</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>+27-84-564-1904</h1>
                </td>
            </tr>
            <tr>
                <td  class="social"><a href="https://github.com/tbandawa"  target="_blank">Github</a></td>
            </tr>
            <tr>
                <td  class="social"><a href="https://twitter.com/tbandawa"  target="_blank">Twitter</a></td>
            </tr>
            <tr>
                <td  class="social"><a href="https://zw.linkedin.com/in/tbandawa"  target="_blank">Linkedin</a></td>
            </tr>
        </table>
        
    </div>

    <div class="footer">© 2021 Tendai Bandawa. All rights reserved.</div>

</div>